 <style>

        .navbar {
         
        }
    .logo {
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.logo span:first-child {
  color: red;
}

.logo span:last-child {
  color: #007bff;
}
    .payment-container {
      max-width: 400px;
      margin: 20px auto;
      padding: 20px;
      border: 20px solid #0eeb41;
      border-radius: 78px;
      background-color: #571cc4;
      &:hover {
        background-color: red;
        pointer-events: allow;

      }

    }
   .button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      &:hover {
        background-color: rgb(73, 31, 226);
      }
    }
    .scroll {
      background-color: red;
      color: #ffffff;
      padding: 1px;
      font-size: 10px;
      border: 1px solid #3c34b4;
      margin-top: 20px;
    }
    .search {
      margin: 20px;
      text-align: center;
      padding: 20px;
      border: 10px solid #7a2324;
      background-color: #3c34b4;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    header {
      background: #35424a;
      color: #ffffff;
      padding: 10px 0;
      text-align: center;
    }
    h1 {
      margin: 0;
      font-size: 24px;
    }
    nav {
      margin: 20px 0;
    }
    nav a {
      color: #35424a;
      text-decoration: none;
     
      border: 1px solid #35424a;
      border-radius: 5px;
      transition: background 0.3s;
    }
    nav a:hover {
      background: #35424a;
      color: #ffffff;
    }
    .legend {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 10px;
      color: #da1453;
      text-align: center;
    }
    .navbar {
       display: flex;
        padding: 10px;
          justify-content: center;
          flex-shrink: 1 ;
         
          margin: 10px 0;      
         flex-wrap: wrap;
         
          
    }
    .image-container {
      background-image: url('./C:\Users\830 G8\OneDrive\图片\Saved Pictures\Screenshots\Screenshot 2025-10-22 225836.png');
      background-size: cover;
      background-position: center;
      height: 300px;
      border-radius: 10px;
    }
    .welcome {
     position: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      
      font-size: 28px;
      font-weight: bold;
      color: red;
      position: fixed;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
    .whole {
     display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 1;
    }

  </style>




